# OS
.DS_Store
*.swp
*.swo
*.swl
*.swm
*.swn
.vscode
.idea
*.pyc

# Build
vendor
build
tools/bin/*
examples/build/*
docs/_build
docs/tutorial
dist
tools-stamp

# Data - ideally these don't exist
baseapp/data/*
client/lcd/keys/*
client/lcd/statik/statik.go
mytestnet

# Testing
coverage.txt
profile.out

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
